@charset "ISO-8859-1";
.icon-home{
	font-size: 120%;
}

.icon-calendar{
	font-size: 120%;
}

.icon-books{
	font-size: 120%;
}

.icon-profile{
	font-size: 120%;
}

.icon-search{
	font-size: 120%;
}

.icon-stats-bars{
	font-size: 120%;
}

.icon-drawer{
	font-size: 120%;
}

.icon-cog{
	font-size: 120%;
}

.navbar-brand{
	font-size: 120%;
}

.glyphicon-log-in{
	font-size: 120%;
}

.LogOut{
	font-size: 120%;
}